<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
  <title>Contact</title>
  <meta charset="UTF-8">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

</head>
<body>
<div class="container">
  <div class="row">
    <div class="col-md-4">

      <table>
        <thead>
        <tr>
          <th>#</th>
          <th>first name</th>
          <th>last name</th>
          <th>email</th>
          <th>phone</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="contact: ${contacts}">
          <td th:text="${contact.id()}"></td>
          <td th:text="${contact.First_name()}"></td>
         <td th:text="${contact.Last_name()}"></td>
          <td th:text="${contact.Email()}"></td>
          <td th:text="${contact.phone()}"></td>
            <td><a th:href="@{/contacts/edit(id=${contact.id()})}" class="btn btn-primary">Edit</a></td>
        </tr>
        </tbody>
      </table>

<!--      <form th:action="@{/search}" method="get">-->
<!--        <input type="text" name="searchTerm">-->
<!--        <input type="submit" value="Search">-->
<!--      </form>-->


<!
      <nav>
<!--
        <a th:href="@{/contacts/all}">Home</a>
-->
        <a th:href="@{/contacts/add}">Add contact</a>

      </nav>


    </div>
  </div>
</div>

</body>
</html>