<!DOCTYPE html>
<html>
<head>
    <title>Inscription</title>
</head>
<body>
<h2>Inscription</h2>
<form action="/register" method="post">
    <div>
        <label for="firstName">Prénom:</label>
        <input type="text" id="firstName" name="firstName">
    </div>
    <div>
        <label for="lastName">Nom:</label>
        <input type="text" id="lastName" name="lastName">
    </div>
    <div>
        <label for="email">Email:</label>
        <input type="email" id="email" name="email">
    </div>
    <div>
        <label for="password">Mot de passe:</label>
        <input type="password" id="password" name="password">
    </div>
    <div>
        <label for="photo">Photo:</label>
        <input type="file" id="photo" name="photo">
    </div>
    <button type="submit">S'inscrire</button>
</form>
</body>
</html>